#our-story-section,
#our-vision-section,
#our-team-section {
  margin: 0 2rem;
}

.section-heading {
  text-align: center;
}

#team-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.team-avatar {
  height: 20rem;
}

@media screen and (min-width: 900px) {
  #team-gallery {
    flex-direction: row;
    justify-content: center;
  }
}
