#our-story-section,
#our-vision-section,
#our-team-section {
  margin-top: var(--spacing-md-lg);
  padding: 0 var(--spacing-sm);
}

#our-story-section,
#our-vision-section {
  display: flex;
  place-items: center;
  flex-direction: column;
}

#our-team-section {
  margin-bottom: var(--spacing-md-lg);
}

.section-content {
  max-width: 40rem;
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  margin: 0;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

#team-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.team-profile {
  color: var(--font-color-primary);
  background-color: var(--color-primary);
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
}

.team-avatar {
  width: 16rem;
  height: 22rem;
  object-fit: cover;
  border-radius: var(--radius-lg);
}

.team-member-name {
  color: var(--font-color-primary);
  margin: 0 0 var(--spacing-sm) 0;
  font-family: var(--font-secondary);
}

.team-member-bio {
  width: 16rem;
  height: 18rem;
}

/* Media queries */
/* Team gallery */
@media screen and (min-width: 650px) {
  #team-gallery {
    flex-direction: row;
    align-items: start;
  }
}
