#our-story-section,
#our-vision-section {
  display: flex;
  place-items: center;
  flex-direction: column;
  margin: 0 2rem;
}

.section-heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.section-content {
  max-width: 40rem;
  margin: 0;
}

#team-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.team-avatar {
  height: 20rem;
}

@media screen and (min-width: 900px) {
  #team-gallery {
    flex-direction: row;
    justify-content: center;
  }
}
