#our-story-section,
#our-vision-section {
  display: flex;
  place-items: center;
  flex-direction: column;
  margin: 0 2rem;
}

.section-heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.section-content {
  max-width: 40rem;
  margin: 0;
}

#team-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  margin: 0 2rem;
}

.team-avatar {
  width: 18rem;
  height: 25rem;
  object-fit: cover;
}

.team-member-bio {
  max-width: 18rem;
}

/* Media queries */
@media screen and (min-width: 850px) {
  #team-gallery {
    flex-direction: row;
  }
}
