#our-story-section,
#our-vision-section,
#our-team-section {
  margin: 0 2rem;
}

.section-heading {
  text-align: center;
}

#our-team-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team-avatar {
  height: 20rem;
}
