#contact-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 var(--spacing-sm);
  margin: var(--spacing-md-lg) 0;
}

.ci-heading {
  margin-bottom: 0.4rem;
}

.contact-info-item {
  padding: var(--spacing-sm);
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

#ci-phone-numbers {
  display: flex;
  gap: 0.4rem;
}
