h2 {
  text-align: center;
  margin-top: 0;
}

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.contact-info-item {
  padding: 1rem;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

#ci-phone-numbers {
  display: flex;
  gap: 0.4rem;
}
