h2 {
  text-align: center;
  margin-top: 0;
}

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

#contact-info a {
  color: var(--font-color-secondary);
}
