/* Hero section */
#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-image {
  width: 100vw;
  height: 95vh;
  object-fit: cover;
}

h1 {
  position: absolute;
  top: 18rem;
  font-size: 3.5rem;
  color: white;
}

#index-cta {
  position: absolute;
  top: 26rem;
}

/* Testimonial section */
#testimonial-section-index {
  text-align: center;
}
