/* Hero section */
#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-image {
  width: 100vw;
  height: 95vh;
  object-fit: cover;
}

h1 {
  position: absolute;
  top: 18rem;
  font-size: 3.5rem;
  color: white;
}

#index-cta {
  position: absolute;
  top: 26rem;
}

/* Testimonial section */
#testimonial-section-index {
  text-align: center;
  margin-bottom: 4rem;
}

#heading-testimonials-index {
  margin: 3rem 0;
}

#testimonial-gallery-index {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
  width: 20rem;
  padding: 1.5rem;
  text-align: left;
  color: white;
  background-color: var(--color-primary);
}

.testimonial-text {
  width: 100%;
  margin-top: 0;
}

.testimonial-author {
  margin: 0;
  margin-bottom: 0;
}
