#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-image {
  width: 100vw;
  height: 95vh;
  object-fit: cover;
}

h1 {
  position: absolute;
}

#index-cta {
  position: absolute;
}

.book-button {
  background-color: var(--color-primary);
}
