/* Buttons */
.cta-btn {
  background-color: var(--color-primary);
  font-family: var(--font-secondary);
  color: var(--font-color-primary);
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm);
}

/* Hero section */
#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-image {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

#hero-heading {
  color: var(--font-color-primary);
  font-family: var(--font-secondary);
  font-size: 3.4rem;
  margin: 0 0 var(--spacing-sm) 0;
}

#hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
}

/* Testimonial section */
#testimonial-section-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 var(--spacing-sm);
  margin: var(--spacing-md-lg) 0;
}

#testimonial-gallery-index {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 18rem;
  max-width: 25rem;
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  text-align: left;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

.testimonial-text {
  margin: 0 0 var(--spacing-sm) 0;
}

.testimonial-author {
  margin: 0;
}

/* Media queries */
/* Testimonial gallery */
@media screen and (min-width: 850px) {
  #testimonial-gallery-index {
    flex-direction: row;
  }
}
