/* Hero section */
#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-image {
  width: 100vw;
  height: 95vh;
  object-fit: cover;
}

#hero-heading {
  color: var(--font-color-primary);
  font-family: var(--font-secondary);
  font-size: 3.4rem;
  margin-bottom: 1rem;
}

#cta-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 18rem;
}

/* Testimonial section */
#testimonial-section-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

#heading-testimonials-index {
  margin: 3rem 0;
}

#testimonial-gallery-index {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
  width: 20rem;
  padding: 1.5rem;
  text-align: left;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

.testimonial-text {
  width: 100%;
  margin-top: 0;
}

.testimonial-author {
  margin: 0;
  margin-bottom: 0;
}

#read-more-btn {
  margin-bottom: 4rem;
}

/* Media queries */
@media screen and (max-width: 340px) {
  #heading-testimonials-index {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 410px) {
  #testimonial-gallery-index {
    margin: 0 2.5rem 2rem 2.5rem;
  }
  .testimonial-container {
    width: 100%;
  }
}

@media screen and (max-width: 810px) {
  #testimonial-gallery-index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
