* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary: #3e563e;
  --color-primary-hover: #314431;
  --color-secondary: #ffffff;
  --color-secondary-hover: #d5d5d5;
  --color-accent: #000000;

  /* Borders */
  --radius-sm: 0.8rem;
  --radius-lg: 1.2rem;

  /* Spacing */
  --spacing-xs: 0.6rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.4rem;
  --spacing-md-lg: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;

  /* Transitions */
  --transition-fast: 300ms ease-out;

  /* Typography */
  --font-primary: "Merriweather", serif;
  --font-secondary: "Cinzel", serif;
  --font-color-primary: #ffffff;
  --font-color-secondary: #000000;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-family: var(--font-primary);
}

main {
  flex: 1;
}

.nav-list {
  padding: 0;
  list-style: none;
  font-family: var(--font-secondary);
}

.info-list {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Headings */
.section-heading,
.subsection-heading {
  text-align: center;
  font-family: var(--font-secondary);
  margin: 0 0 var(--spacing-xs) 0;
}

/* Buttons */
.hover-btn {
  background-color: var(--color-primary);
  transition: var(--transition-fast);
}

.hover-btn:hover {
  background-color: var(--color-primary-hover);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin: 0;
  height: 2rem;
}

#header-logo {
  width: 3.5rem;
  margin-left: 1rem;
}

#header-nav-list {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

#header-nav-list li {
  margin: 0 0.4rem;
}

#header-nav-list li a {
  color: var(--font-color-secondary);
  padding: 0.4rem;
  transition: var(--color-switch);
}

#header-nav-list li a:hover {
  color: var(--font-color-primary);
  background-color: var(--color-accent);
}

/* Hamburger menu */
#hamburger-btn {
  margin-right: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2rem;
  width: 1.8rem;
  border: none;
  padding: 0;
  cursor: pointer;
}

#hamburger-btn span {
  background-color: var(--color-primary);
  height: 0.25rem;
  margin: 0.15rem 0;
  transition: 0.2s ease;
}

#hamburger-btn.active span:nth-child(1) {
  transform: translate(0, 0.5rem) rotate(45deg);
}

#hamburger-btn.active span:nth-child(2) {
  opacity: 0;
}

#hamburger-btn.active span:nth-child(3) {
  transform: translate(0, -0.6rem) rotate(-45deg);
}

#hamburger-nav {
  position: absolute;
  top: 4rem;
  right: -11rem;
  transition: 0.3s ease;
  padding: 0 1rem;
  background-color: var(--color-primary);
  font-family: var(--font-secondary);
}

#hamburger-nav.active {
  position: absolute;
  top: 4rem;
  right: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

#hamburger-nav-list li {
  margin: 0.5rem 0;
}

#hamburger-nav-list li a {
  color: var(--font-color-primary);
}

/* Banners */
.page-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  padding: 1rem;
  text-align: center;
  color: var(--font-color-primary);
  font-family: var(--font-secondary);
  background-color: var(--color-primary);
}

/* Footer */
footer {
  padding: 1rem;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

footer a {
  color: var(--font-color-primary);
  transition: var(--color-switch);
}

#footer-nav-list li {
  margin: 0.8rem 0;
}

.footer-nav-link {
  padding: 0.4rem;
}

.footer-nav-link:hover {
  color: var(--font-color-secondary);
  background-color: var(--color-secondary);
}

#footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#opening-hour-section {
  margin: 1rem 0;
}

#opening-hour-heading {
  text-align: center;
  font-family: var(--font-secondary);
  margin: 0;
}

#opening-hours-list {
  margin: 0;
}

.opening-hour-item {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 0.4rem 0;
}

#contact-info-list {
  text-align: center;
}

#contact-info-list li {
  margin: 0.8rem 0;
}

#social-media-icons {
  display: flex;
}

.social-icon {
  width: 2rem;
  fill: var(--color-secondary);
  transition: var(--color-switch);
  margin: 0 0.4rem;
}

.social-icon:hover {
  fill: var(--color-accent);
}

#copyright-notice {
  text-align: center;
  margin: 1rem 0 0 0;
}

/* Media queries */
/* Header navigation */
@media screen and (max-width: 580px) {
  #header-nav-list {
    display: none;
  }
}

/* Hamburger menu */
@media screen and (min-width: 581px) {
  #hamburger-btn {
    display: none;
  }
}

/* Footer */
@media screen and (min-width: 900px) {
  #footer-content {
    flex-direction: row;
  }
}
