:root {
  /* Colors */
  --color-primary: #3e563e;
  --color-primary-hover: #314431;

  /* Typography */
  --font-primary: "Merriweather", serif;
  --font-secondary: "Cinzel", serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  height: 2rem;
}

#header-logo {
  width: 3.5rem;
  margin-left: 2.5rem;
}

#header-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style: none;
  font-family: var(--font-secondary);
  margin-right: 2.5rem;
}

#header-nav li {
  margin: 0 0.8rem;
}

#hamburger-icon {
  margin-right: 2.5rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2rem;
  width: 1.8rem;
  border: none;
  padding: 0;
  cursor: pointer;
}

#hamburger-icon span {
  background-color: var(--color-primary);
  height: 0.25rem;
  margin: 0.15rem 0;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  #header-nav {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  #hamburger-icon {
    display: none;
  }
}
