:root {
  /* Colors */
  --color-primary: #3e563e;
  --color-primary-hover: #314431;

  /* Typography */
  --font-primary: "Merriweather", serif;
  --font-secondary: "Cinzel", serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

#header-logo {
  width: 3.5rem;
  margin-left: 2rem;
}

#header-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style: none;
  font-family: var(--font-secondary);
}

#header-nav li {
  margin: 0 0.5rem;
}

#hamburger-icon {
  margin-right: 2rem;
}
