* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary: #3e563e;
  --color-primary-hover: #314431;
  --color-secondary: #ffffff;
  --color-secondary-hover: #d5d5d5;

  /* Typography */
  --font-primary: "Merriweather", serif;
  --font-secondary: "Cinzel", serif;
  --font-color-primary: #ffffff;
  --font-color-secondary: #000000;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
}

.nav-list {
  padding: 0;
  list-style: none;
  font-family: var(--font-secondary);
}

.info-list {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0;
  height: 2rem;
}

#header-logo {
  width: 3.5rem;
  margin-left: 1rem;
}

#header-nav-list {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

#header-nav-list li {
  margin: 0 0.8rem;
}

#header-nav-list li a {
  color: var(--font-color-secondary);
}

/* Hamburger menu */
#hamburger-btn {
  margin-right: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2rem;
  width: 1.8rem;
  border: none;
  padding: 0;
  cursor: pointer;
}

#hamburger-btn span {
  background-color: var(--color-primary);
  height: 0.25rem;
  margin: 0.15rem 0;
  transition: 0.2s ease;
}

#hamburger-btn.active span:nth-child(1) {
  transform: translate(0, 0.5rem) rotate(45deg);
}

#hamburger-btn.active span:nth-child(2) {
  opacity: 0;
}

#hamburger-btn.active span:nth-child(3) {
  transform: translate(0, -0.6rem) rotate(-45deg);
}

#hamburger-nav {
  position: absolute;
  top: 4rem;
  right: -11rem;
  transition: 0.3s ease;
  padding: 0 1rem;
  background-color: var(--color-primary);
  font-family: var(--font-secondary);
}

#hamburger-nav.active {
  position: absolute;
  top: 4rem;
  right: 0;
}

#hamburger-nav-list li {
  margin: 0.5rem 0;
}

#hamburger-nav-list li a {
  color: var(--font-color-primary);
}

/* Banners */
.heading-banner {
  color: var(--font-color-primary);
}

.page-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  background-color: var(--color-primary);
}

/* Call-to-action buttons */
.cta-btn {
  background-color: var(--color-primary);
  font-family: var(--font-secondary);
  color: var(--font-color-primary);
  padding: 0.7rem 1.4rem;
  transition: 0.3s ease-in-out;
}

.cta-btn:hover {
  background-color: var(--color-primary-hover);
}

footer {
  padding: 1rem;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

footer a {
  color: var(--font-color-primary);
}

#footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#opening-hour-heading {
  text-align: center;
  font-family: var(--font-secondary);
  margin-bottom: 0.2rem;
}

#opening-hours-list {
  margin: 0;
}

.opening-hour-item {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 0.4rem 0;
}

#contact-info-list {
  text-align: center;
}

#contact-info-list li {
  margin: 0.8rem 0;
}

#social-media-icons {
  display: flex;
}

.social-icon {
  width: 2rem;
  margin: 0 0.4rem;
  fill: var(--color-secondary);
}

.social-icon:hover {
  fill: var(--color-secondary-hover);
}

#copyright-notice {
  text-align: center;
  margin: 1rem 0 0 0;
}

/* Media queries */
/* Header navigation */
@media screen and (max-width: 600px) {
  #header-nav-list {
    display: none;
  }
}

/* Hamburger menu */
@media screen and (min-width: 601px) {
  #hamburger-btn {
    display: none;
  }
}

/* Footer */
@media screen and (min-width: 900px) {
  #footer-content {
    flex-direction: row;
  }
}
