#testimonial-section {
  padding: 0 var(--spacing-sm);
  margin: var(--spacing-md-lg) 0;
}

#testimonial-gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: var(--spacing-sm);
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

.testimonial-text {
  margin: 0;
}

.testimonial-author {
  margin: var(--spacing-sm) 0 0 0;
}

/* Media queries */
/* Testimonial gallery */
@media screen and (min-width: 690px) {
  #testimonial-gallery {
    grid-template-columns: repeat(2, minmax(18rem, 25rem));
  }
}
