#testimonial-gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

.testimonial-text {
  margin-top: 0;
}

.testimonial-author {
  margin: 0;
}
