#testimonial-section {
  padding: 1rem;
}

#testimonial-gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

.testimonial-text {
  margin: 0;
}

.testimonial-author {
  margin: 1rem 0 0 0;
}

/* Media queries */
/* Testimonial gallery */
@media screen and (min-width: 690px) {
  #testimonial-gallery {
    grid-template-columns: repeat(2, minmax(18rem, 25rem));
  }
}
