#treatment-gallery-section {
  padding: 1rem;
}

#treatment-gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 1rem 0 14rem 0;
}

.treatment-container {
  height: fit-content;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

.treatment-dropdown {
  text-align: center;
  font-family: var(--font-secondary);
  padding: 2rem 0.4rem;
  cursor: pointer;
}

.treatment-name {
  margin: 0;
}

.treatment-content {
  display: none;
  padding: 1rem;
}

.treatment-content.open {
  display: block;
}

.treatment-description {
  margin: 0 0 1rem 0;
}

.treatment-book-btn {
  display: block;
  padding: 0.4rem;
  text-align: center;
  color: var(--font-color-secondary);
  background-color: var(--color-secondary);
  transition: var(--color-switch);
}

.treatment-book-btn:hover {
  color: var(--font-color-primary);
  background-color: var(--color-accent);
}

/* Media queries */
@media screen and (min-width: 690px) {
  #treatment-gallery {
    grid-template-columns: repeat(2, minmax(20rem, 25rem));
  }
}
