#category-gallery-section {
  padding: 0 var(--spacing-sm);
}

#category-gallery-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  text-align: center;
  gap: var(--spacing-sm);
  margin: var(--spacing-md-lg) 0;
}

.category-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xl) 0;
  border-radius: var(--border-radius-treatment);
  font-family: var(--font-secondary);
  color: var(--font-color-primary);
  white-space: nowrap;
  background-color: var(--color-primary);
  transition: var(--color-switch);
}

.category-tag:hover {
  background-color: var(--color-primary-hover);
}

/* Media queries */
/* Category gallery */
@media screen and (min-width: 690px) {
  #category-gallery-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  #category-gallery-list {
    grid-template-columns: repeat(3, minmax(20rem, 25rem));
  }
}
