#category-selection {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 1rem;
  margin: 2rem 2rem 0 2rem;
}

.category-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  font-family: var(--font-secondary);
  color: var(--font-color-primary);
  background-color: var(--color-primary);
}

/* Media queries */
@media screen and (min-width: 400px) {
  #category-selection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  #category-selection {
    grid-template-columns: repeat(3, 1fr);
  }
}
