#treatment-gallery-section {
  padding: 0 var(--spacing-sm);
}

#treatment-gallery {
  display: grid;
  grid-template-columns: minmax(18rem, 25rem);
  justify-content: center;
  gap: var(--spacing-sm);
  padding: 0;
  margin: var(--spacing-md-lg) 0;
}

.treatment-container {
  height: fit-content;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
  border-radius: var(--radius-sm);
}

.treatment-dropdown {
  text-align: center;
  font-family: var(--font-secondary);
  padding: var(--spacing-lg) 0;
  border-radius: var(--radius-sm);
  cursor: pointer;
  user-select: none;
}

.treatment-name {
  margin: 0;
}

.treatment-content {
  display: none;
  padding: var(--spacing-sm);
}

.treatment-content.open {
  display: block;
}

.treatment-description {
  margin: 0 0 var(--spacing-sm) 0;
}

.treatment-book-btn {
  display: block;
  padding: 0.4rem;
  border-radius: var(--radius-sm);
  text-align: center;
  color: var(--font-color-secondary);
  background-color: var(--color-secondary);
  transition: var(--color-switch);
}

.treatment-book-btn:hover {
  color: var(--font-color-primary);
  background-color: var(--color-accent);
}

/* Media queries */
@media screen and (min-width: 800px) {
  #treatment-gallery {
    grid-template-columns: repeat(2, minmax(20rem, 25rem));
  }
}
